resources/\[assets\]
resources/\[mlo\]
resources/\[jobs\]/Ziekenhuis
resources/\[criminelen\]/\[wapens\]
resources/\[core\]
resources/\[cfx-default\]
resources/\[frp\]
resources/\[standalone\]
txData/default/logs