body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

#blackmarket {
    width: 900px;
    margin: 150px auto 0; /* Ruimte onder het logo */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 1.5vh; /* Verhoogd voor meer afgeronde hoeken */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.50);
    border: 3px solid green; /* Groene rand toegevoegd */
}

.logo {
    width: auto;
    height: auto;
    max-width: 100px;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: -50px; /* Logo iets verder omhoog */
}

#weapon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.weapon {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 1.5vh; /* Verhoogd voor meer afgeronde hoeken */
    text-align: center;
    width: calc(33.33% - 30px);
    box-sizing: border-box;
    margin-top: 15px; /* Voeg margin-top toe voor ruimte boven de wapens */
}

.icon {
    margin: 0;
    padding: 0;
}

.icon img {
    width: 150px;
    height: -60px;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 24px;
    position: relative;
    top: -10px;
}

.price {
    color: #ffffff;
    font-weight: bold;
}

.weapon-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.weapon h3,
.weapon p,
.buy-btn {
    margin: 10px 0;
}

.buy-btn {
    background-color: rgb(4, 197, 4); /* Achtergrondkleur van de knoppen aangepast naar groen */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 0.8vh; /* Verhoogd voor meer afgeronde hoeken */
    cursor: pointer;
    margin-top: 10px;
}
