@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    overflow: hidden;
    user-select: none;
}

.interaction {
    display: none;
    position: relative;
    margin-right: 5px;
    margin-top: 25%;
    height: fit-content;
    min-width: 15vh;
    min-height: 3.5vh;
    width: fit-content;
    padding: 0.25vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
    border-radius: 0.25vh;
}

.error {
    border: rgb(189, 60, 60) solid 2px;
    background-color: rgb(189, 60, 60);
}

.info {
    border: rgb(46, 105, 199) solid 2px;
    background-color: rgb(46, 105, 199);
}

.success {
    border: rgb(97, 150, 54) solid 2px;
    background-color: rgb(97, 150, 54);
}

.warning {
    border: rgb(212, 153, 24) solid 2px;
    background-color: rgb(212, 153, 24);
}